ion-content {
    --ion-background-color: #2594a9;
}

#power {
    padding-top: 55px;
    padding-left: 40px;
    padding-right: 76px;
}
#logo {
    padding-right:69px;

}

#text1 {
    background-color: white;
    width:90%;
    height:30%;
}

#text2 {
    background-color: white;
}
#Date {

}
#Title {

}
