ion-content {
    --ion-background-color: white;;
}

#Title {
    outline:none;
    border:none;
    border-bottom: 2px solid #2594a9;
    background-color: white;
    padding-right: 100px;
}

#Date {
    outline:none;
    border:none;
    border-bottom: 2px solid #2594a9;
    background-color: white;
    padding-right: 100px;
}

#TEXT1 {
    color:gray;
}

#TEXT2 {
    color:gray;
    padding-top: 61px;
}



button {
    background-color:#2594a9 ;
    color:white;
    border-radius: 20px;;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right:60px;

}

#logo {
    padding-left:83px;
    padding-top:45px;
}


#arrow {
    padding-left:33px;
    padding-top:50px;

}

#form {
    padding-top:86px;
    padding-left: 30px;
}

#textarea{
    border-color:#2594a9;
}
#button {
    padding-left:120px;
}



